---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1><span class="text-gradient">Proiect Vectori</span></h1>
		<p class="instructions">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="cuprins">CUPRINS</b> <br /><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<strong>Declararea și parcurgerea tablourilor unidimensionale</strong><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<strong>Ștergeri și inserări de elemente</strong><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<strong>Verificarea unor proprietăți</strong><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<strong>Sortarea tablourilor</strong><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<strong>Interclasarea tablourilor</strong><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<strong>Secvențe în vectori</strong><br />
		</p>
		<ul role="list" class="link-card-grid">
			
		</ul>
	</main>
</Layout>

<style>
	.cuprins{
		font-size: 30px;
		color:aliceblue; 
	}
	main {
        
		margin: 100px;
		padding: 1.5rem;
		width: 70%;
	}
    body{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
	h1 {
		display: flex;
        flex-direction: column;
		align-items: center;
        justify-content: center;
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: rgba(82, 78, 80, 0.377);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.instructions strong:hover {
		color:rgb(253, 213, 239);
		cursor:pointer;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
