---
import Layout from '../layouts/Layout.astro';
---

<Layout active="D" title="Sortarea tablourilor">
	<main>
		<h1><span class="text-gradient">Sortarea tablourilor</span></h1>
		<p class="instructions">
			Sortarea unui tablou reprezintă o rearanjare a elementelor astfel încât valorile acestora să fie într-o anumită ordine. De regulă ordinea cerută este cea crescătoare sau descrescătoare.<br /><br />
			Din punct de vedere al eficienței, avem:<br /><br />
			algoritmi neeficienți, de complexitate <strong>O(n2)</strong>:<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-metoda bulelor<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-sortarea prin selecție (interschimbare)<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-sortarea prin inserție<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-metoda piticului<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-etc.<br /><br />
			algoritmi eficienți, de complexitate <strong>O(n⋅logn)</strong>:<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-QuickSort<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-MergeSort<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-HeapSort<br />
		    Pentru structuri de date particulare există și algoritmi de complexitate <strong>O(n2)</strong>. De asemenea, există algoritmi exponențiali, de complexitate <strong>O(n!)</strong>, fără utilitate practică.<br /><br />
			<strong>Citește mai departe :</strong><br /><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="m_bulelor"><strong class="sort">Metota bulelor</strong></a><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="sortare"><strong class="sort">Sortarea prin selectie</strong></a><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="sortare"><strong class="sort">Sortarea prin insertie</strong></a><br />
		</p>
		<ul role="list" class="link-card-grid">
			
		</ul>
	</main>
</Layout>

<style>
	p{
        color:aliceblue;
    }
	main {
		margin: 100px;
		padding: 1.5rem;
		width: 70%;
	}
    body{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
	h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
		font-size: 2.5rem;
		font-weight: 800;
		margin: 40px;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
        
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: rgba(82, 78, 80, 0.377);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 1.2em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}

	.sort:hover{
		font-size: 1.2;
		color:rgb(253, 213, 239);
		cursor:pointer;
	}
</style>